<button href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="far fa-address-card"></i></button>
<adra-table [titulos]="titulos" [filas]="filas"></adra-table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Título:</label>
              <input [(ngModel)]="post.titulo" type="text" class="form-control" id="titulo" name="titulo">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Descripción:</label>
              <textarea [(ngModel)]="post.descripcion" class="form-control" id="descripcion" name="descripcion"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="add()" >Send message</button>
        </div>
      </div>
    </div>
  </div>
